body{
    padding: 0;
    margin: 0 auto;
    width: 48%;
    background-image: url(imagens/fundo2.png);
}

h4{text-align: center;}

.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}