body{
    padding: 0;
    margin: 0 auto;
    width: 48%;

    background-image: url(imagens/fundo2.png); 
}

.topo{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

h4{text-align: center;}

.topicos{
    padding: 0;
    margin-left: 20px;
    line-height: 5px;
    margin-top: 0px;
    margin-bottom: 30px;
}